ul {
    height: 300px;
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.form-group {
    width: 90%;
}

.form-group input.form-control {
    width: 100%;
}